

      h1{
        font-family: cursive;
        font-size:xx-large;
        color: pink;
        text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px pink;
      
      }

      h3{
        color: pink;
        text-shadow: 1px 1px 2px black, 0 0 25px pink, 0 0 5px pink;
        font-family: cursive;
      }
      
      
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}




#stage {
  margin: 1em auto;
  width: 382px;
  height: 292px;
transform: translate(-200px, 0px);
}

#stage a {
  position: absolute;
}
#stage a img {
  padding: 10px;
  border: 5px solid black ;
  background:pink;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-delay: 4s;
  animation-duration: 1s;
  z-index: 20;
}
#stage a:nth-of-type(2) {
  z-index: 10;
}
#stage a:nth-of-type(n+3) {
  display: none;
}

@keyframes fader {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color:pink;
  transform: translateY(150px);
}




